.DS_Store
/.DS_Store

/chapter4notes.md
/chapter5notes.md
/chapter6notes.md
/chapter7notes.md
/chapter8notes.md
/chapter9notes.md
/chapter10notes.md
/chapter11notes.md
/chapter12-18notes.md
/chapter17-19notes.md